<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="home">MY HOME</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="createEmployee">CreateEmployee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="viewEmployee">ViewEmployee</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" placeholder="right"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
  </ul>
</div>
</nav>


<div class="container">
  <h1>Enter Employee Data</h1>
  <div class="alert alert-info alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{msg}}</strong>
  </div>


    <div class="form-group">
      <form action ="/employeeInsert" method="post">
      <label for="email">Employee_ID:</label>
      <input type="number" class="form-control" id="email" placeholder="Enter ID" name="id">
    </div>
    <div class="form-group">
      <label for="pwd">Employee_Name:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Name" name="name">
    </div>
    <div class="form-group">
      <label for="salary">Employee_Salary:</label>
      <input type="number" class="form-control" id="pwd" placeholder="Enter Salary" name="salary">
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </form>
</div>

</body>
</html>
